.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-8 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.subtle-border {
  border: 1px solid rgba(168, 168, 168, 0.35); /* Bulma grey */
  background: white;
  border-radius: 12px;              /* smooth corners */
  padding: 1.25rem;
}

.subtle-border-sm {
  border: 1px solid rgba(168, 168, 168, 0.35); /* Bulma grey */
  background: white;
  border-radius: 8px;              /* smooth corners */
  padding: 1rem;
}


.result {
  border-radius: 90px;
  background-color: red;
  padding: 0.15rem 0.75rem;
  display: inline-block;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown.is-fullwidth .dropdown-menu .dropdown-item {
  width: 100%;
}


.dropdown-item.is-selected {
  background-color: #f5f7fa;
}


